@using sc2dsstats._2022.Shared

<div class="form-group" style="max-width: 250px;">
    <label for="@(Label + "select")" class="form-label">
        @Label
    </label>
    <select class="form-select" id="@(Label + "select")" @onchange="Selected">
        @foreach (var ent in Options)
        {
            if (ent == isSelected)
            {
                <option selected="selected" value="@ent">@ent</option>
            }
            else
            {
                <option value="@ent">@ent</option>
            }
        }
    </select>
</div>

@code {

    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public List<string> Options { get; set; }
    [Parameter]
    public string isSelected { get; set; }
    [Parameter]
    public EventCallback<string> onSelected { get; set; }


    void Selected(ChangeEventArgs e)
    {
        isSelected = e.Value.ToString();
        onSelected.InvokeAsync(isSelected);
    }
}
