@page "/gdslreplays"
@using sc2dsstats.shared

<h3>GDSLReplays</h3>

<Dropdown TItem="string" OnSelected="@OnInterestSelected">
    <InitialTip>Team</InitialTip>
    <ChildContent>
        <DropdownListItem Item="@("")">ALL</DropdownListItem>
        <div class="dropdown-divider"></div>
        @foreach (string team in Teams.OrderBy(o => o))
        {
            <DropdownListItem Item="@team">@team</DropdownListItem>
        }
    </ChildContent>
</Dropdown>

@foreach (var rep in Replays.OrderByDescending(o => o.DateTime))
{
    @if (!String.IsNullOrEmpty(Interest))
    {
        @if (rep.Team1 == Interest || rep.Team2 == Interest)
        {
            <h4>@rep.Team1 vs @rep.Team2</h4>
            <GDSLReplay Replay="rep.Replay" htmlString="rep.ReplayString"></GDSLReplay>
        }
    }
    else
    {
        <h4>@rep.Team1 vs @rep.Team2</h4>
        <GDSLReplay Replay="rep.Replay" htmlString="rep.ReplayString"></GDSLReplay>
    }
}
