@using sc2dsstats.lib.Data
@using sc2dsstats.shared.Service

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-sm btn-light @anyClass1">
            <input type="radio" name="dbsearchoptions" autocomplete="off" @onchange="AnyClick"> Any
        </label>
        <label class="btn btn-sm btn-light @anyClass2">
            <input type="radio" name="dbsearchoptions" autocomplete="off" @onchange="ExactClick"> Exact
        </label>
    </div>   

 <div class="row">
        <div class="col-auto">
            @for (int i = 1; i <= 3; i++)
            {
                var ii = i;
                <Dropdown @ref="dropDowns[ii -1]" TItem="string" OnSelected="@( eventArgs => OnCmdrsSelected(eventArgs, ii))">
                    <InitialTip>@dbOptions.Cmdrs[ii]</InitialTip>
                    <ChildContent>
                        <DropdownListItem Item="String.Empty">@String.Empty</DropdownListItem>
                        <div class="dropdown-divider"></div>
                        @foreach (string cmdr in DSdata.s_races)
                        {
                            <DropdownListItem Item="@cmdr">@cmdr</DropdownListItem>
                        }
                    </ChildContent>
                </Dropdown>
            }
        </div>
        <div class="col-auto">
            @for (int i = 4; i <= 6; i++)
            {
                var jj = i;
                <Dropdown @ref="dropDowns[jj - 1]" TItem="string" OnSelected="@( eventArgs => OnCmdrsSelected(eventArgs, jj))">
                    <InitialTip>@dbOptions.Cmdrs[jj]</InitialTip>
                    <ChildContent>
                        <DropdownListItem Item="String.Empty">@String.Empty</DropdownListItem>
                        <div class="dropdown-divider"></div>
                        @foreach (string cmdr in DSdata.s_races)
                        {
                            <DropdownListItem Item="@cmdr">@cmdr</DropdownListItem>
                        }
                    </ChildContent>
                </Dropdown>
            }
        </div>
    </div>

@code {
    [Parameter]
    public DatabaseSearchOptions dbOptions { get; set; }

    private string anyClass1 => dbOptions.anySearch ? "active" : "";
    private string anyClass2 => dbOptions.anySearch ? "" : "active";

    List<Dropdown<string>> dropDowns = new List<Dropdown<string>>();

    protected override void OnInitialized()
    {
        for (int i = 0; i < 6; i++)
        {
            Dropdown<string> d = null;
            dropDowns.Add(d);
        }
    }


    private void OnCmdrsSelected(string selection, int i)
    {
        dbOptions.Cmdrs[i] = selection;
    }

    void AnyClick(ChangeEventArgs e)
    {
        if (e.Value.ToString() == "on")
            dbOptions.anySearch = true;
    }

    void ExactClick(ChangeEventArgs e)
    {
        if (e.Value.ToString() == "on")
            dbOptions.anySearch = false;
    }

    public void Reset()
    {
        foreach (var ent in dropDowns)
            ent.Reset();
    }
}
