@using sc2dsstats.lib.Data
@inject DSoptions _options

    
    <div class="row">
        <div>
            <Dropdown TItem="string" OnSelected="@OnBuildSelected">
                <InitialTip>Build</InitialTip>
                <ChildContent>
                    @if (_options.Players.Any())
                    {
                        <DropdownListItem Item="@("player")">@("player")</DropdownListItem>
                    }
                    else
                    {
                        @foreach (string build in DSdata.s_builds_hash.Values)
                        {
                            <DropdownListItem Item="@build">@build</DropdownListItem>
                        }
                    }
                </ChildContent>
            </Dropdown>
        </div>
        <div class="d-xl-none row ml-2">
            <Dropdown TItem="string" OnSelected="@OnCmdrSelected">
                <InitialTip>Cmdr</InitialTip>
                <ChildContent>
                    @foreach (string cmdr in DSdata.s_races)
                    {
                        <DropdownListItem Item="@cmdr">@cmdr</DropdownListItem>
                    }
                </ChildContent>
            </Dropdown>
            <Dropdown TItem="string" OnSelected="@OnVsCmdrSelected">
                <InitialTip>vs Cmdr</InitialTip>
                <ChildContent>
                    <DropdownListItem Item="@("ALL")">ALL</DropdownListItem>
                    <div class="dropdown-divider"></div>
                    @foreach (string cmdr in DSdata.s_races)
                    {
                        <DropdownListItem Item="@cmdr">@cmdr</DropdownListItem>
                    }
                </ChildContent>
            </Dropdown>

            <Dropdown TItem="string" OnSelected="@OnBPSelected">
                <InitialTip>Breakpoint</InitialTip>
                <ChildContent>
                    @foreach (string bp in DSdata.s_breakpoints)
                    {
                        <DropdownListItem Item="@bp">@bp</DropdownListItem>
                    }
                </ChildContent>
            </Dropdown>
        </div>
    </div>
    

@code {


    private void OnBuildSelected(string selection)
    {
        if (selection == "player")
            return;
        _options.Build = selection;
        _options.Dataset.Clear();
        _options.Dataset.Add(DSdata.s_builds_hash.Single(x => x.Value == _options.Build).Key);
        _options.Update = !_options.Update;
    }
    private void OnCmdrSelected(string selection)
    {
        _options.Interest = selection;
        _options.Update = !_options.Update;
    }
    private void OnVsCmdrSelected(string selection)
    {
        if (selection == "ALL")
            _options.Vs = String.Empty;
        else
            _options.Vs = selection;
        _options.Update = !_options.Update;
    }

    private void OnBPSelected(string selection)
    {
        _options.Breakpoint = selection;
        _options.Update = !_options.Update;
    }

}
